@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: linear-gradient(72.85deg, #D9547B 0%, #F8AD48 100%);
    font-family: roboto, sans-serif;
}

header{
    padding-top: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: end;
}

.navbar_header #search_nav_header{
    float: right;
}

.wrap{
    padding-top: 106px;
    padding-left: 200px;
    padding-right: 200px;
}

.wrap h1{
    font-size: 40px;
    color: white;
    align-items: center;
}

section#first_list .list{
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: solid 1px #fff;
    font-family: roboto, sans-serif;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

section#first_list .list section.information_list{
    display: flex;
}

#main{
    display: flex;
}

section#first_list{
    margin-top:32px;
    width:400px;
}

div#main section#first_list div.list section.information_list p{
    padding-right: 8px;
    margin: auto;
}

div#main section#first_list div.list section.title_list{
    display: flex;
}

div#main section#first_list div.list section.title_list p{
    margin: auto;
}

div#main  section#main_right{
    float: right;
    display: flex;
    margin-left: 27px;
}

div#main  section#main_right p{
    color:#fff;
    position: absolute;
    font-size:340px;
    opacity: 20%;
    font-family: Roboto, sans-serif;
}

div#main  section#main_right div#icone img#conditions{
    position: relative;
    margin: auto;
}

div#main  section#main_right div#icone{
    padding-left: 250px;
    display: flex;
}

li.day{
    display: inline;
    padding: 0px,16px;
}

li.day button{
    background-color: none;
    color: black;
}

div#days{
    padding-top: 130px;
    display: flex;
}

div#days ul#timeline{
    margin:auto;
}

div#days ul#timeline li{
    padding-right: 16px;
}

div#days ul#timeline li.day button{
    background-color: none;
    color: black;
    width:122px;
    height: 56px;
    font-size:14px;
}