@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    background: linear-gradient(72.85deg, #D9547B 0%, #F8AD48 100%);
}

header{
    padding-top: 32px;
    padding-right: 32px;
}

.navbar_header #search_nav_header{
    float: right;
}

.wrap{
    padding-left: 200px;
}

.wrap h1{
    font-family: roboto, sans-serif;
    font-size: 40px;
    color: white;
    align-items: center;
}