/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  border: none;
}

header {
  padding-top: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: end;
}

.navbar_header #search_nav_header {
  display: flex;
  float: right;
  background-color: #fff;
  border-radius: 100px;
  width: 56px;
  height: 56px;
}

.navbar_header.is-active {
  display: flex;
  width: 612px;
  height: 80px;
  background-color: #fff;
  border-radius: 100px;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
  padding-left: 32px;
}

.navbar_header.is-active #search_nav_header {
  display: flex;
  background-color: black;
  width: 107px;
  height: 56px;
  border-radius: 100px;
}

.navbar_header #search_nav_header p {
  display: none;
}

.navbar_header.is-active #search_nav_header p {
  display: flex;
  margin: auto;
  color: #fff;
}

.navbar_header.is-active div#icon_l section#img-nav {
  margin: auto;
}

.navbar_header div#icon_l {
  display: none;
  width: 100%;
  height: 100%;
}

.navbar_header.is-active div#icon_l {
  display: flex;
  float: left;
  width: 100%;
}

.navbar_header input#search {
  display: none;
}

.navbar_header.is-active input#search {
  display: flex;
  border-radius: none;
  width: 100%;
  height: 100%;
}

.navbar_header.is-active div#icon_l #input {
  padding-left: 32px;
  width: 100%;
  height: 100%;
}

.navbar_header.is-active #search_nav_header #icon {
  display: none;
}

.navbar_header #search_nav_header #icon {
  margin: auto;
}

.wrap {
  padding-top: 106px;
  padding-left: 200px;
  padding-right: 200px;
}

.wrap h1 {
  font-size: 40px;
  color: white;
  align-items: center;
}

section#first_list .list {
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: solid 1px #fff;
  font-family: roboto, sans-serif;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

section#first_list .list section.information_list {
  display: flex;
}

#main {
  display: flex;
}

section#first_list {
  margin-top: 32px;
  width: 400px;
}

div#main section#first_list div.list section.information_list p {
  padding-right: 8px;
  margin: auto;
}

div#main section#first_list div.list section.title_list {
  display: flex;
}

div#main section#first_list div.list section.title_list p {
  margin: auto;
}

div#main section#main_right {
  float: right;
  display: flex;
  margin-left: 27px;
}

div#main section#main_right p {
  color: #fff;
  position: absolute;
  font-size: 300px;
  opacity: 20%;
  font-family: Roboto, sans-serif;
}

div#main section#main_right div#icone img#conditions {
  position: relative;
  margin: auto;
}

div#main section#main_right div#icone {
  padding-left: 250px;
  display: flex;
}

li.day {
  display: inline;
  padding: 0px, 16px;
}

li.day button {
  background-color: none;
  color: black;
}

div#days {
  padding-top: 130px;
  display: flex;
}

div#days ul#timeline {
  margin: auto;
}

div#days ul#timeline li {
  padding-right: 16px;
}

div#days ul#timeline li.day button {
  background-color: none;
  border-radius: 100px;
  color: #fff;
  width: 122px;
  height: 56px;
  font-size: 14px;
}

div#days ul#timeline li.day.is-active button {
  border: 1px solid white;
}

div#days ul#timeline li.day button.is-select {
  background-color: #fff;
  color: black;
}

body {
  background: linear-gradient(72.85deg, #D9547B 0%, #F8AD48 100%);
  font-family: roboto, sans-serif;
}

/*# sourceMappingURL=style.css.map */
